kind: Service
apiVersion: v1
metadata:
  name: servicios-notificacion-pagoefectivo-service
  labels:
    run: servicios-notificacion-pagoefectivo
spec:
  type: NodePort
  ports:
    - port: 8080
      protocol: TCP
  selector:
    run: servicios-notificacion-pagoefectivo
