kind: Service
apiVersion: v1
metadata:
  name: service-notificacion-service
  labels:
    run: service-notificacion
spec:
  type: NodePort
  ports:
    - port: 8080
      protocol: TCP
  selector:
    run: service-notificacion
